.c-container {
    justify-content: space-around;
    gap: 1rem;
  }
  
  .c-container > img {
    width: 9rem;
    transition: transform 0.1s ease-in-out;
  }
  
  .c-container > img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  